

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.FadeOut {
    animation-name: fadeByOpacity;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
@keyframes fadeByOpacity{
    0% { opacity: 1;}
    100% {opacity: 0;}
}
.Canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 600px;
    background-image: linear-gradient(to bottom right, brown, brown, brown, tomato);
}

.Canvas div.StartMenu h1 {
    margin-bottom: 48px;
    text-align: center;
    font-size: 96px;
    font-family: "Microsoft-YaHei";
    cursor: default;
}

.Canvas div.StartMenu h2 {
    margin: 0px;
    text-align: center;
    font-size: 38px;
    font-family: "Microsoft-YaHei";
    background-color: none;
    cursor: pointer;
}

.Canvas div.StartMenu h2:hover{
    animation-name: HeartBeat;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
    background-image: linear-gradient(to bottom right, pink, tomato, tomato, pink);;
}

@keyframes HeartBeat {
    0% {
        font-size: 38px;
    }
    40% {
        font-size: 42px;
    }
    56% {
        font-size: 38px;
    }
    60% {
        font-size: 42px;
    }
}

div.SunrayBase {
    height: 30px;
    width: 12px;
    background-color: black;
    position:fixed;
    top:285px;
    left:394px;
    transform-origin: 6px 90px;
    animation-name: SunrayDisperse;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    opacity: 0;
}
div.Sunray0 {
    transform: translate(0px, -60px) rotate(0deg);
    animation-delay: 0ms;
}
div.Sunray1 {
    transform: translate(0px, -60px) rotate(18deg);
    
    animation-delay: 40ms;
}
div.Sunray2 {
    transform: translate(0px, -60px) rotate(36deg);
    animation-delay: 80ms;
}
div.Sunray3 {
    transform: translate(0px, -60px) rotate(54deg);
    animation-delay: 120ms;
}
div.Sunray4 {
    transform: translate(0px, -60px) rotate(72deg);
    animation-delay: 160ms;
}
div.Sunray5 {
    transform: translate(0px, -60px) rotate(90deg);
    animation-delay: 180ms;
}
div.Sunray6 {
    transform: translate(0px, -60px) rotate(108deg);
    animation-delay: 220ms;
}
div.Sunray7 {
    transform: translate(0px, -60px) rotate(126deg);
    animation-delay: 260ms;
}
div.Sunray8 {
    transform: translate(0px, -60px) rotate(144deg);
    animation-delay: 300ms;
}
div.Sunray9 {
    transform: translate(0px, -60px) rotate(162deg);
    animation-delay: 340ms;
}
div.Sunray10 {
    transform: translate(0px, -60px) rotate(180deg);
    animation-delay: 380ms;
}
div.Sunray11 {
    transform: translate(0px, -60px) rotate(198deg);
    animation-delay: 440ms;
}
div.Sunray12 {
    transform: translate(0px, -60px) rotate(216deg);
    animation-delay: 480ms;
}
div.Sunray13 {
    transform: translate(0px, -60px) rotate(234deg);
    animation-delay: 520ms;
}
div.Sunray14 {
    transform: translate(0px, -60px) rotate(252deg);
    animation-delay: 560ms;
}
div.Sunray15 {
    transform: translate(0px, -60px) rotate(270deg);
    animation-delay: 600ms;
}
div.Sunray16 {
    transform: translate(0px, -60px) rotate(288deg);
    animation-delay: 640ms;
}
div.Sunray17 {
    transform: translate(0px, -60px) rotate(306deg);
    animation-delay: 680ms;
}
div.Sunray18 {
    transform: translate(0px, -60px) rotate(324deg);
    animation-delay: 720ms;
}
div.Sunray19 {
    transform: translate(0px, -60px) rotate(342deg);
    animation-delay: 760ms;
}
div.Sunray20 {
    transform: translate(0px, -60px) rotate(0deg);
    animation-delay: 800ms;
}

@keyframes SunrayDisperse {
    0% {
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}



div.CountDownNumBase {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 104px;
    position:fixed;
    width:120px;
    height:120px;
    top:250px;
    left:340px;
    opacity: 0;
    animation-name: SunrayDisperse;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}

div.CountDownNum3 {
    animation-delay: 0s;
}
div.CountDownNum2 {
    animation-delay: 1s;
}
div.CountDownNum1 {
    animation-delay: 2s;
}

div.CountDownPage {
    display:none;
}

div.ShowNumberPage {
    position: fixed;
    display: none;
    background-color: darkcyan;
    top: 0px;
    height: 0px;
    width: 800px;
    height: 600px;
}

div.NumericBase {
    position: fixed;
    border-radius: 50%;
    border-color: chartreuse;
    border-width: 5px;
    border-style: solid;
    font-size: 70px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    display: none;
}

div.NumericBase.Show {
    border-color:transparent;
}

div.NumericBase.Guess {
    border-color: chartreuse;
    color: transparent;
}

div.NumericBase.Chosen {
    background-color: sienna;
}

div.NumericBase.Correct {
    background-color: darkgreen;
}

div.NumericBase.Wrong {
    background-color: darkred;
}

li.HealthPoint {
    float: left;
    list-style-type: none;
}