@page "/MemaTesta"


<div class="MemaTestaGameBoard @fadeclass" >
    <div class="memTaTitle">瞬时记忆力测试</div>
    <div class="memTaButton StartGame" @onclick="StartGame">
        开始游戏
    </div>
    <div class="memTaButton ShowTutorial">
        规则说明
    </div>
</div>

<div class="MemaTestaGameBoard" style="opacity:@opacity; display:@display">
    <svg height="600px" width="800px" fill="purple">
        <rect id="Sunray" x="390px" y="420px" rx="3" ry="3" width="20px" height="10px" stroke-width="0px" fill="orange">
            <animate id="SunRay0" attributeName="opacity" to="0" dur="0.1s" repeatCount="1" fill="freeze" />
        </rect>
        @for (int i = 12; i < 361; i = i + 12)
        {
            <rect id="Sunray" x="390px" y="420px" rx="3px" ry="3px" width="20px" height="10px" stroke-width="0px" fill="orange"
                  transform="rotate(@i)" transform-origin="50% 50%">
                <animate id="@makeSunRayID(i, false)" attributeName="opacity" to="0" dur="0.1s" begin="@makeSunRayID(i, true)" repeatCount="1" fill="freeze" />
            </rect>
        }

        <text dominant-baseline="middle" text-anchor="middle" x="50%" y="51.5%" font-family="sans-serif" fill="black" font-size="128px" opacity="0.3">
            <animate id="anmTextMaskSizeUp3" attributeName="font-size" to="2200px" dur="0.99" fill="remove">
            </animate>
            <animate id="anmTextMaskGone3" attributeName="opacity" to="0" dur="0.01" fill="freeze" begin="anmTextMaskSizeUp3.end">
            </animate>
            3
        </text>
        <text dominant-baseline="middle" text-anchor="middle" x="50%" y="51.5%" font-family="sans-serif" font-size="128px">
            <animate id="anmTextSizeUp3" attributeName="font-size" to="220px" dur="0.99" fill="remove">
            </animate>
            <animate id="anmTextGone3" attributeName="opacity" to="0" dur="0.01" fill="freeze" begin="anmTextSizeUp3.end">
            </animate>
            3
        </text>
        <text dominant-baseline="middle" text-anchor="middle" x="50%" y="51.5%" font-family="sans-serif" fill="black" font-size="128px" opacity="0">
            <animate id="anmTextMaskEnter2" attributeName="opacity" to="0.3" dur="0.01" fill="freeze" begin="anmTextGone3.end">
            </animate>
            <animate id="anmTextMaskSizeUp2" attributeName="font-size" to="2200px" dur="0.99" fill="remove" begin="anmTextMaskEnter2.end">
            </animate>
            <animate id="anmTextMaskGone2" attributeName="opacity" to="0" dur="0.01" fill="freeze" begin="anmTextMaskSizeUp2.end">
            </animate>
            2
        </text>
        <text dominant-baseline="middle" text-anchor="middle" x="50%" y="51.5%" font-family="sans-serif" font-size="128px"
              opacity="0">
            <animate id="anmTextEnter2" attributeName="opacity" to="1" dur="0.01" fill="freeze" begin="anmTextGone3.end">
            </animate>
            <animate id="anmTextSizeUp2" attributeName="font-size" to="220px" dur="0.98" fill="freeze" begin="anmTextEnter2.end">
            </animate>
            <animate id="anmTextGone2" attributeName="opacity" to="0" dur="0.01" fill="freeze" begin="anmTextSizeUp2.end">
            </animate>
            2
        </text>
        <text dominant-baseline="middle" text-anchor="middle" x="50%" y="51.5%" font-family="sans-serif" fill="black" font-size="128px" opacity="0">
            <animate id="anmTextMaskEnter1" attributeName="opacity" to="0.3" dur="0.01" fill="freeze" begin="anmTextGone2.end">
            </animate>
            <animate id="anmTextMaskSizeUp1" attributeName="font-size" to="2200px" dur="0.99" fill="freeze" begin="anmTextMaskEnter1.end">
            </animate>
            <animate id="anmTextMaskGone1" attributeName="opacity" to="0" dur="0.01" fill="freeze" begin="anmTextMaskSizeUp1.end">
            </animate>
            1
        </text>
        <text dominant-baseline="middle" text-anchor="middle" x="50%" y="51.5%" font-family="sans-serif" font-size="128px"
              opacity="0">
            <animate id="anmTextEnter1" attributeName="opacity" to="1" dur="0.01" fill="freeze" begin="anmTextGone2.end">
            </animate>
            <animate id="anmTextSizeUp1" attributeName="font-size" to="220px" dur="0.98" fill="remove" begin="anmTextEnter1.end">
            </animate>
            <animate id="anmTextGone1" attributeName="opacity" to="0" dur="0.01" fill="freeze" begin="anmTextSizeUp1.end">
            </animate>
            1
        </text>
    </svg>

</div>

@code {
    private int opacity = 1;
    private string display = "";
    private string makeSunRayID(int i, bool offset)
    {
        int lastIndex = offset ? i - 12 : i;
        return "SunRay" + lastIndex + (offset ? ".end" : "");
    }
    
    private string fadeclass = "";

    private async void StartGame()
    {
        fadeclass = "fade";

        await Task.Delay(1000);
        display = "";
        opacity = 1;
    }
}
