@page "/MemaTesta"


<div class="MemaTestaGameBoard @fadeclass" >
    <div class="memTaTitle">瞬时记忆力测试</div>
    <div class="memTaButton StartGame" @onclick="StartGame">
        开始游戏
    </div>
    <div class="memTaButton ShowTutorial">
        规则说明
    </div>
</div>

<div class="MemaTestaGameBoard" style="opacity:@opacity; display:@display">
    <svg height="600px" width="800px" fill="purple">
        <rect id="Sunray" x="390px" y="300px" rx="8" ry="8" width="20px" height="80px" stroke-width="0px" fill="blue">
            <animate id="SunRay0" attributeName="height" to="20px" dur="0.25s" repeatCount="1" fill="freeze"/>
        </rect>
        @for(int i = 30; i < 360; i = i + 30)
        {
            <rect id="Sunray" x="390px" y="300px" rx="8" ry="8" width="20px" height="80px" stroke-width="0px" fill="yellow"
                    transform="rotate(@i)" transform-origin="50% 50%">
                <animate id="@makeSunRayID(i, false)" attributeName="height" to="20px" dur="0.25s" begin="@makeSunRayID(i, true)" repeatCount="1" fill="freeze"/>
            </rect>
        }
        <ellipse cx="50%" cy="50%" ry="60px" rx="60px" fill="Red"></ellipse>
        <text dominant-baseline="middle" text-anchor="middle" x="50%" y="51.5%" font-family="sans-serif" font-size="114px">@countDown</text>
    </svg>

</div>

@code {
    private int countDown = 3;
    private int opacity = 1;
    private string display = "";
    private string makeSunRayID(int i, bool offset)
    {
        int lastIndex = offset ? i - 30 : i;
        return "SunRay" + lastIndex + (offset ? ".end" : "");
    }
    
    private string fadeclass = "";

    private async void StartGame()
    {
        fadeclass = "fade";

        await Task.Delay(1000);
        display = "";
        opacity = 1;
    }
}
